<html>
  <head>
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Lora" rel="stylesheet">

    <title>Linley/Pitts Wedding RSVP</title>
  </head>
  <body>
    <section class="sitemap-header">
      <span class="sitemap-name">David Linley</span>
      <div class="link-container">
        <a href="/" class="sitemap-link">RSVP</a>
        <a href="#" class="sitemap-link">Registry</a>
        <a href="info" class="sitemap-link">Info</a>
      </div>
      <span class="sitemap-name">Michelle Pitts</span>
    </section>

    <div class="banner-image-container">
      <div class="banner-image">

      </div>
    </div>

    <div id="rsvpSuccessFlashContainer" class="flash-message-container">
      <section id="rsvpSuccessFlash" class="rsvp-success card">
        <div class="card-alert">Thank You</div>

        <div class="card-body">
          Your RSVP has been recorded. Please email <a href="mailto:rsvp@linleypitts.wedding">rsvp@linleypitts.wedding</a> with any further inquiries.
        </div>
      </section>
    </div>

    <div id="rsvpFailureFlashContainer" class="flash-message-container">
      <section id="rsvpFailureFlash" class="rsvp-failure card">
        <div class="card-alert">
          Your RSVP could not be processed
        </div>

        <div class="card-body">
          Sorry, something went wrong and your RSVP was not recorded. Please send a message to <a href="mailto:rsvp@linleypitts.wedding">rsvp@linleypitts.wedding</a> and we'll get back to you as soon as possible.
        </div>
      </section>
    </div>

    <section class="rsvp-section card">
      <div class="card-header">
        <h2>RSVP</h2>
      </div>
      <form id="rsvpForm" class="form card-body" action="api/rsvp" method="post">
        <label class="form-label">
          Guest Name
          <input type="text" class="form-control" name="guestName" placeholder="Your name" required>
        </label>
        <label class="form-label">
          Are You Able To Attend?
          <select class="select form-control" name="attending">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </label>
        <label class="form-label">
          Dietary Restrictions/Allergies
          <textarea name="allergies" rows="8" class="form-control"></textarea>
        </label>

        <button id="rsvpSubmitButton" type="submit" class="button btn-primary">Submit</button>
      </form>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="scripts/rsvp.js"></script>
  </body>
</html>
