<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linley/Pitts Wedding Info</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Lora" rel="stylesheet">
  </head>
  <body>
    <section class="sitemap-header">
      <span class="sitemap-name">David Linley</span>
      <div class="link-container">
        <a href="index" class="sitemap-link">RSVP</a>
        <a href="#" class="sitemap-link">Registry</a>
        <a href="#" class="sitemap-link">Info</a>
      </div>
      <span class="sitemap-name">Michelle Pitts</span>
    </section>

    <div class="banner-image-container">
      <div class="banner-image">

      </div>
    </div>
    <div class="card">
      <div class="info">
        <div class="card-header">
          <h2>Just the Basics</h2>
        </div>
        <p><em>Who: </em>David Linley and Michelle Pitts</p>
        <p> <em>What: </em>A wedding, followed by a buffet dinner, an open bar, and lots of dancing and merriment </p>
        <p><em>When: </em>The ceremony will take place at 4:00 pm on Saturday, August 11, 2018</p>
        <p> <em>Where: </em>18 Mill Street, Angus, Ontario </p>

        <br>
        <div class="card-header">
          <h2>Accomodations</h2>
        </div>

        <div class="map_wrapper">
          <div class="map_canvas" class="mapping"></div>
        </div>

        <p>
          Several hotels are within easy driving distance of our pictuersque venue. We recommend the Knights Inn in downtown Angus, but the Angus Inn is another excellent option. Both are located a mere three-minute drive
          from the venue. If you'd prefer something a little more cosmopolitan, several major hotel chains are present in Barrie, approximately 20 minutes away. Visitors looking for more homey accomodations might enjoy
          one of the many bed and breakfasts in nearby historic Alliston. Wherever you choose to stay, a driver will be available throughout the evening to ensure you arrive safely at your destination. </p>
        <p>Whatever lodgings you'd prefer, we recommend booking as soon as possible. Between the military posting season and the smaller size of these locations, rooms book up quickly in the summer months.</p>
        <br>
        <div class="card-header">
          <h2>FAQ</h2>
        </div>
        <p>
          <em>What should I wear?</em>
        </p>
        <p>
          We'd love to see you dressed up for the big day, but also want you to be comfortable enough to enjoy it. Suit jackets are optional for men, and we encourage the ladies to wear flats, wedge-type heels, or anything else that won't sink into the grass too much.
        </p>
        <p>
          <em>I have some food restrictions, who do I contact?</em>
        </p>
        <p>
          Please be sure to include any food restrictions or allergies in your RSVP. If you've already submitted your RSVP and want to add something, please email rsvp@linleypitts.wedding before July 27.
        </p>
        <p>
          <em>When do I need to RSVP by?</em>
        </p>
        <p>
          We'd like to hear back from you by July 14, 2018.
        </p>
        <p>
          <em>Will last names be changing after the wedding?</em>
        </p>
        <p>
          Eventually! It will take several months to jump through the necessary legal hoops, but Michelle Pitts will be Michelle Linley.
        </p>
        <p>
          <em>I have a different question that I need help with?</em>
        </p>
        <p>
          Feel free to get in touch with both of us at rsvp@linleypitts.wedding, or either the bride or groom through your regular contact channels, up to the day before the wedding. After that, you'll need to source your own help ;)
        </p>

      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false&callback=initialize"></script> -->
  <script src="scripts/map.js"></script>
  </body>
</html>
