<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Linley/Pitts Wedding Registry</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Lato|Lora" rel="stylesheet">
  </head>
  <body>
    <section class="sitemap-header">
      <span class="sitemap-name">David Linley</span>
      <div class="link-container">
        <a href="/" class="sitemap-link">RSVP</a>
        <a href="registry" class="sitemap-link">Registry</a>
        <a href="info" class="sitemap-link">Info</a>
      </div>
      <span class="sitemap-name">Michelle Pitts</span>
    </section>

    <div class="banner-image-container">
      <div class="banner-image">

      </div>
    </div>
    <div class="card">
      <div class="info">
        <div class="card-header">
          <h2>Registry</h2>
        </div>
        <p>
          Your presence at the wedding is all we want, but if you'd like to give a physical gift, we are registered at
          <a href="https://www.bedbathandbeyond.ca:443/store/giftregistry/view_registry_guest.jsp?registryId=545946678&eventType=Wedding&pwsurl=">Bed, Bath and Beyond</a>.
        </p>
      </div>
    </div>
  </body>
</html>
