/*
  Header color:           #404040
  Border color:           #9F9F9F
  Button color:           #EFEFEF
  Wedding color burgundy: #990033
  Wedding color blue:     #336699
*/

h1, h2, h3 {
  margin: 0;
}

body {
  margin: 0;
}

body, button {
  font-family: 'Lato', sans-serif;
}

a {
  color: #336699;
  text-decoration: none;
}

.button {
  background: #EFEFEF;
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  padding: 5px 10px;
}

.card {
  border: 1px solid #9F9F9F;
  border-radius: 5px;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 30px;
  padding: 10px;
  width: 800px;
}

.card .card-header {
  border-bottom: 1px solid #9F9F9F;
  color: #404040;
  font-family: 'Dancing Script', cursive;
  margin: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 90%;
}

.card .card-alert {
  font-weight: bold;
  text-align: center;
}

.card .card-body {
  margin-bottom: 0;
  padding: 10px;
}

.form-label {
  display: block;
  padding-bottom: 10px;
}

.form-label:last-child {
  padding-bottom: 0;
}

.form-control {
  background-color: white;
  border-radius: 5px;
  border-style: ridge;
  display: block;
  margin-top: 5px;
  min-width: 200px;
  padding: 5px;
}

.sitemap-header {
  border-bottom: 1px solid #9F9F9F;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px 0;
  text-align: center;
  width: 90%;
}

.sitemap-header .sitemap-link {
  margin: 0 10px;
  padding: 0 20px;
}

.banner-image-container {
  background-color: #990033;
  margin-bottom: 30px;
  padding: 15px 0;
}

.banner-image {
  background-image: url('assets/header.png');
  background-position: 50% 38%;
  background-size: cover;
  height: 300px;
  width: 100%;
}

.overview-header {
  font-family: 'Dancing Script', cursive;
  padding-bottom: 30px;
  text-align: center;
}

.rsvp-success {
  border-color: #336699;
  border-width: 3px;
}

.rsvp-failure {
  border-color: #990033;
  border-width: 3px;
}

.flash-message-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
