/*
  Header color:           #404040
  Border color:           #9F9F9F
  Button color:           #EFEFEF
  Wedding color burgundy: #990033
  Wedding color blue:     #336699
*/

h1, h2, h3 {
  margin: 0;
}

body {
  margin: 0;
}

body, button, input, textarea {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: #336699;
  text-decoration: none;
}

.button {
  background: #EFEFEF;
  border: 1px solid #9F9F9F;
  border-radius: 0.3em;
  padding: 0.3em 0.6em;
}

.card {
  border: 1px solid #9F9F9F;
  border-radius: 0.3em;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 2em;
  max-width: 50em;
  padding: 0.6em;
}

.card .card-header {
  border-bottom: 1px solid #9F9F9F;
  color: #404040;
  font-family: 'Dancing Script', 'Georgia', serif;
  margin: auto;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  text-align: center;
  width: 90%;
}

.card .card-alert {
  font-weight: bold;
  text-align: center;
}

.card .card-body {
  margin-bottom: 0;
  padding: 0.6em;
}

.form-label {
  display: block;
  padding-bottom: 0.6em;
}

.form-label:last-child {
  padding-bottom: 0;
}

.form-control {
  background-color: white;
  border-radius: 0.3em;
  border-style: ridge;
  display: block;
  margin-top: 0.3em;
  padding: 0.3em;
  width: 100%;
}

.sitemap-header {
  border-bottom: 1px solid #9F9F9F;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 2em;
  padding: 1em 0;
  text-align: center;
  width: 90%;
}

.sitemap-header .link-container {
  display: flex;
  justify-content: space-around;
}

.sitemap-header .sitemap-link {
  margin: 0 0.6em;
}

.banner-image-container {
  background-color: #990033;
  margin-bottom: 2em;
  padding: 1em 0;
}

.banner-image {
  background-image: url('assets/header.png');
  background-position: 50% 38%;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.overview-header {
  font-family: 'Dancing Script', 'Georgia', serif;
  padding-bottom: 2em;
  text-align: center;
}

.rsvp-success {
  border-color: #336699;
  border-width: 0.2em;
}

.rsvp-failure {
  border-color: #990033;
  border-width: 0.2em;
}

.flash-message-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s;
}
